*{
    font-family: 'Archivo Narrow', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #eaeaea;
}

.navbar{
    background-color: #eaeaea;
}


.contenedor__datos{
    /*border: 1px solid #41464d;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.vidrio{
    /*border: 1px solid #41464d;
    */display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #002854;
    max-width: 50%;
    height: 100%;
    padding: 2em;
    margin: 2em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

input{
    width: 80%;
    margin: 25px;
    text-align: center;
    background: #eaeaea;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid #af9469;
    font-size: 18px;
    letter-spacing: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    width: 40%;
    margin-top: 100px;
    text-align: center;
    background: #eaeaea;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid #af9469;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover{
    background-color: #6b8baf;
}

.resultados{
    width: 100%;
    height: 100%;
    border: 1px solid #41464d;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    background: #002854;
    border: none;
    outline: none;
    border-radius: 35px;
    /*border: 1px solid #0e7bc4;*/
    font-size: 18px;
    letter-spacing: 1px;
    
}

.periodo{
    position: relative;
    width: 100%;
    height: 80%;
    right: 2%;
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    border-radius: 35px;
    /*border: 1px solid #0e7bc4;*/
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0%;
}


.resultado{
    position: relative;
    top: 50px;
    left: 30%;
    width:40%;
    text-align: center;
    background: #6b8baf;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid #e68b08;
    font-size: 18px;
    letter-spacing: 1px;
}

.csv{
    position: relative;
    left: 30%;
    width:40%;
    text-align: center;
    background: #eaeaea;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid #e68b08;
    font-size: 18px;
    letter-spacing: 1px;
}

.csv:hover{
    background-color: #6b8baf;
}